<% current_value = params.dig(:filters, filter.id, "is")&.first %>
<div class="form-group">
  <%= label_tag "filters[#{filter.id}][is][]", filter.name %>
  <% if filter.options.present? %>
    <%= select_tag "filters[#{filter.id}][is][]",
          options_for_select(filter.options, current_value),
          include_blank: true, class: "form-input" %>
  <% else %>
    <%= text_field_tag "filters[#{filter.id}][is][]", current_value, class: "form-input" %>
  <% end %>
</div>
