<div class="form-section">
  <h3 class="form-section-title"><%= local_assigns.key?(:label) ? local_assigns[:label] : form_section.label %></h3>
  <% _description = local_assigns.key?(:description) ? local_assigns[:description] : form_section.description %>
  <% if _description.present? %>
    <p class="form-section-description"><%= _description.respond_to?(:call) ? _description.call : _description %></p>
  <% end %>
  <% if local_assigns.key?(:content) %>
    <%= local_assigns[:content] %>
  <% else %>
    <% from_tab = local_assigns.fetch(:from_tab, false) %>
    <% form_section.section_items.each do |attr_name| %>
      <% attribute = resource.attributes[attr_name] %>
      <% next if attribute.nil? || attribute.field.nil? %>
      <% next if !from_tab && !attribute.field.visible?(action_name) %>
      <%= render "madmin/shared/form_field", field: attribute.field, record: record, form: form, resource: resource %>
    <% end %>
  <% end %>
</div>
